@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f1dca7;
}

.window {
    background-color: #fff1e6;
    display: grid;
    justify-items: center;
    border: 2px solid #a5a58d;
    border-radius: 20px;
    width: fit-content;
}

.window-content {
    display: grid;
    grid-template-columns: repeat(3, 20px);
    background-color: #a5a58d;
    width: 100%;
    border-radius: 16px 16px 0 0;
    padding: 20px;
}

.window-content .circle {
    background-color: #f1dca7;
    border: 1px solid #606f49;
    border-radius: 20px;
    width: 16px;
    height: 16px;
}

.window img {
    height: 250px;
    padding: 20px;
    border-radius: 30px;
}

.home-content {
    padding: 20px;
    width: 400px;
}