@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f1dca7;
}

header {
    border: 2px solid black;
    border-radius: 50px;
    background-color: #d9ae94;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    justify-items: center;
}

li {
    list-style: none;
}

li:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    cursor: pointer;
}