@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(images/bg-pic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #edede9;
}

main {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 40px 0;
  flex-wrap: wrap;
}

.intro-content {
  padding: 20px;
  font-size: 1.25rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #edede9;
  width: 500px;
  border-radius: 15px;
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
}

.intro-content img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.intro {
  margin: 0;
  font-size: 1rem;
}

.intro {
  flex-wrap: wrap;
}

.choices {
  margin: 0;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #edede9;
  height: 421px;
  width: 500px;
  border-radius: 15px;
}

input {
  display: block;
  border-radius: 10px;
  padding: 5px 10px;
  width: 100%;
  margin-top: 10px;
  font-size: 1rem;
  margin: 10px auto;
  border: 1px solid;
  border: 1px solid black;
}

form {
  margin: 0;
}

label {
  font-weight: 500;
}

.result {
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

button {
  border-radius: 10px;
  font-size: 1rem;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #bc6c25;
}

.choices img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

.madeby {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  display: block;
}

a {
  color: black;
  text-decoration: none;
}

@keyframes wordAppear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.appear-word {
  animation: wordAppear 1s ease-in normal forwards;
}
